#!/bin/bash

# Script must be non-blocking or run in the background for use in user_data.

mkdir -p /config/cloud

cat << 'EOF' > /config/cloud/startup-script.sh
#!/bin/bash

# prevent prompting for restart when installing core packages such as libssl
DEBIAN_FRONTEND=noninteractive
echo '* libraries/restart-without-asking boolean true' | sudo debconf-set-selections

# install dependencies
sudo apt update
sudo apt -y install software-properties-common uidmap
sudo add-apt-repository --yes --update ppa:projectatomic/ppa
sudo add-apt-repository --yes --update ppa:ansible/ansible
sudo apt update
sudo apt install software-properties-common ansible python-apt python-pip podman -y
sudo pip install -q jmespath podman-compose

### Clean up
rm /config/cloud/startup-script.sh 
EOF

# Now run in the background to not block startup
chmod 755 /config/cloud/startup-script.sh 
nohup /config/cloud/startup-script.sh &
